*
  font-family: 'Roboto' , sans-serif

html
  height: 12222223px

nav
  height: 50.73px
  background: #212121

header
  position: relative

nav
  position: fixed
  width: 100%
  z-index: 2

.menu
  padding: 13px 70px
  margin: 0
  list-style: none
  display: flex
  justify-content: space-between
  align-items: center

  .menu_link
    color: #fff
    font-size: 15px
    font-weight: 300

  .menu_item:not(:last-child)
    border-right: 2px dotted black
    padding-right: 28px

.subheader
  height: 87px
  background: rgba(0, 0, 0, 0.6)
  position: absolute
  width: 100%
  top: 50px

  .subheader_logo
    max-width: 100%
    display: block
    margin-top: 18px

  .subheader_official
    font-weight: 100
    font-size: 13px
    color: #FFFFFF
    opacity: 0.5
    margin-top: 6px

  .subheader_call
    color: #fff
    font-size: 12px
    font-weight: 300
    margin-top: 23px
    text-align: right

  .subheader_phone
    display: block
    margin-top: 8px
    color: #fff
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    text-align: right
    line-height: 12px

  .subheader_btn
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    text-align: center
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
    color: #FFFFFF
    width: 172px
    height: 46px
    border-radius: 4px
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
    margin-top: 23px
    border: none

.promo_btn
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  text-align: center
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
  color: #FFFFFF
  width: 172px
  height: 46px
  border-radius: 4px
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
  margin-top: 23px
  border: none

.promo
  min-height: 800px
  background: url('../img/uber_bg.jpg') center (center / cover) no-repeat
  text-align: center
  padding: 200px 0 135px 0

  .promo_header
    color: #fff
    font-size: 60px
    text-transform: uppercase
    font-weight: 700
    line-height: 60px
    margin: 0

  .promo_subheader
    color: #fff
    font-size: 36px
    text-transform: uppercase
    font-weight: 700
    line-height: 60px
    margin: 0
    margin-top: 22px

  .promo_descr
    font-size: 18px
    line-height: 24px
    font-weight: 400
    color: #fff
    margin-top: 20px

  .promo_btn
    display: block
    margin: 118px auto 0 auto
    font-size: 18px
    width: 259px
    height: 63px

.label
      width: 112px
      height: 24px
      background: #000000
      font-weight: 400
      font-size: 11px
      color: #FFFFFF
      text-transform: uppercase
      margin: 0 auto
      display: flex
      align-items: center
      justify-content: center

.title
    margin-top: 33px
    font-weight: 700
    font-size: 38px
    color: #222
    text-transform: uppercase
    text-align: center

.subtitle 
  color: #222
  margin-right: 19px
  font-size: 17px
  font-weight: 400
  text-align: center
  margin-top: 19px

.reason
  min-height: 849px
  background: #f2f2f2
  padding: 20px 0 38px 0




  .reason_icon
    width: 116px
    height: 116px
    border-radius: 50%
    background: #1EACC7
    display: flex
    align-items: center
    justify-content: center

    img
      width: 83px
      height: 60px

  .reason_text
    font-weight: 300
    font-size: 15px
    line-height: 21px
    color: #202020

  .reason_text_subtitle
    color: #1EACC7
    font-size: 17px
    font-weight: 400

  .row
    margin-top: 16px

  .flex
    display: flex
    justify-content: space-between
    margin-bottom: 26px

  .reason_icon_text
    max-width: 371px

.mobile
  min-height: 864px
  padding: 28px 0 79px  
  background: url('../img/Подложка.jpg') center center / cover no-repeat
  .row
    margin-top: 32px
  &_item
    position: relative
    width: 320px
    height: 280px
    margin: 0 auto
    margin-bottom: 19px
    padding-top: 92px
    &_1
      background: url('../img/aplication1 1.jpg') center center / cover no-repeat
    &_2
      background: url('../img/Карточка 2.jpg') center center / cover no-repeat
    &_3
      background: url('../img/Карточка 3.jpg') center center / cover no-repeat
    &_4
      background: url('../img/Карточка 4.jpg') center center / cover no-repeat
    &_5
      background: url('../img/Карточка 5.jpg') center center / cover no-repeat
    &_6
      background: url('../img/Карточка 6.png') center center / cover no-repeat
    &_subtitle
      font-size: 24px
      font-weight: 400
      line-height: 31px
      text-align: center
      text-transform: uppercase
      color: #fff
    &_plus
      width: 26px
      height: 26px
      position: absolute
      background-color: #000
      margin: 0 auto
      border-radius: 50%
      padding: 6px
      display: flex
      justify-content: center
      align-items: center
      bottom: 35px
      left: 50%
      transform: translateX(-50%)